<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="tw.com.iisi.rabbithq.security" name="Security" schema="schema/tw.com.iisi.rabbithq.security.exsd"/>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="tw.com.iisi.rabbithq.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Welcome"
            class="tw.com.iisi.rabbithq.Perspective"
            id="tw.com.iisi.rabbithq.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+X">
      </key>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="tw.com.iisi.rabbithq.application"
            name="RabbitHQ">
         <property
               name="aboutText"
               value="RCP Mail template created by PDE">
         </property>
         <property
               name="windowImages"
               value="icons/sample.gif">
         </property>
         <property
               name="aboutImage"
               value="product_lg.gif">
         </property>
         <property
               name="appName"
               value="RabbitHQ">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="menu:help">
         <command commandId="org.eclipselabs.p2.rcpupdate.install" style="push"/>
         <command commandId="org.eclipselabs.p2.rcpupdate.update" style="push"/>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view name="Welcome" icon="icon/sample.gif" class="tw.com.iisi.rabbithq.views.WelcomeView" id="tw.com.iisi.rabbithq.views.WelcomeView"></view>
   </extension>

</plugin>
